<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="flex items-center justify-center min-h-screen bg-gray-100">
    <div class="text-center">
        <h1 class="text-4xl font-bold text-blue-500 mb-4">Hello {{name}}</h1>
        <!-- Form for user input -->
        <form action="/search" method="GET" class="flex items-center space-x-2">
            <input type="text" name="name" placeholder="What's your name" class="px-4 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" required>
            <button type="submit" class="px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600">Answer</button>
        </form>
      <a href="/">
            <button class="mt-4 px-6 py-2 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-600">
                To Home
            </button>
        </a>
    </div>
</body>
</html>
